<template name="_delete">
  <div class="modal fade" id="_delete">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{__ 'delete.title'}}</h4>
        </div>
        <div class="modal-body">
          {{__ 'delete.message'}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-yes">{{__ 'button.yes'}}</button>
          <button type="button" class="btn btn-default btn-no">{{__ 'button.no'}}</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>