<template name="_layout">
  {{> menuTopBar}}
  <div id="wrapper">
    <div id="col1">Menu</div>
    <div id="col2">Sub Menu</div>
    <div id="col3">Sub Sub Menu</div>
    <div id="col4">
      Main Body<br />
      <br />
      How many columns can be shown by setting the session 'layout' variable to 1-4.<br />
      <br />
      How many columns can be shown by setting the session 'layout' variable to 1-4.<br />
      <br />
      How many columns can be shown by setting the session 'layout' variable to 1-4.<br />
      <br />
      How many columns can be shown by setting the session 'layout' variable to 1-4.<br />
      <br />
      How many columns can be shown by setting the session 'layout' variable to 1-4.<br />
      <br />
      How many columns can be shown by setting the session 'layout' variable to 1-4.<br />
      <br />
      How many columns can be shown by setting the session 'layout' variable to 1-4.<br />
      <br />
      How many columns can be shown by setting the session 'layout' variable to 1-4.<br />
      <br />
      How many columns can be shown by setting the session 'layout' variable to 1-4.<br />
      <br />
      How many columns can be shown by setting the session 'layout' variable to 1-4.<br />
      <br />
      How many columns can be shown by setting the session 'layout' variable to 1-4.<br />
      <br />
      How many columns can be shown by setting the session 'layout' variable to 1-4.<br />
      <br />
      How many columns can be shown by setting the session 'layout' variable to 1-4.<br />
      <br />
      How many columns can be shown by setting the session 'layout' variable to 1-4.<br />
      <br />
      How many columns can be shown by setting the session 'layout' variable to 1-4.<br />
      <br />
      How many columns can be shown by setting the session 'layout' variable to 1-4.<br />
      <br />
      How many columns can be shown by setting the session 'layout' variable to 1-4.<br />
      <br />
      How many columns can be shown by setting the session 'layout' variable to 1-4.<br />
      <br />
      How many columns can be shown by setting the session 'layout' variable to 1-4.<br />
      <br />
      How many columns can be shown by setting the session 'layout' variable to 1-4.<br />
    </div>
  </div>
</template>