<template name="menuTopBar">
  <nav id="menuTopBar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">{{__ 'toggle_nav'}}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        {{__ 'title'}} <small>{{__ 'version'}}</small>
      </a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-left">
        {{> loginButtons}}
      </ul>
      {{#if currentUser}}
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <div class="input-group">
            <input type="text" name="search" class="form-control input-search" placeholder="Search"
              data-provide="typeahead" autocomplete="off">
          </div>
        </div>
      </form>
      {{/if}}
    </div>
  </nav>
</template>