<template name="userView">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{getName user._id}}</h3>
    </div>
    <div class="panel-body">
      {{#autoForm collection="Meteor.users" id="userForm" type="update" doc=user}}
      <!-- Name -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{__ 'user.profile.names'}}</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12 col-lg-4">
              {{> afQuickField name="profile.fname"}}
            </div>
            <div class="col-sm-12 col-lg-4">
              {{> afQuickField name="profile.mname"}}
            </div>
            <div class="col-sm-12 col-lg-4">
              {{> afQuickField name="profile.lname"}}
            </div>
          </div>
        </div>
      </div>
      <!-- Address -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{__ 'user.profile.address.name'}}</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12 col-lg-4">
              {{> afQuickField name="profile.address.street1"}}
            </div>
            <div class="col-sm-12 col-lg-4">
              {{> afQuickField name="profile.address.street2"}}
            </div>
            <div class="col-sm-12 col-lg-4">
              {{> afQuickField name="profile.address.street3"}}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-lg-7">
              {{> afQuickField name="profile.address.city"}}
            </div>
            <div class="col-sm-12 col-lg-3">
              {{> afQuickField name="profile.address.state" options=states}}
            </div>
            <div class="col-sm-12 col-lg-2">
              {{> afQuickField name="profile.address.zip"}}
            </div>
          </div>
        </div>
      </div>
      <!-- Buttons -->
      <div class="">
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-save"></i> {{__ 'button.profile'}}
        </button>
        <button type="reset" class="btn btn-warning">
          <i class="fa fa-refresh"></i> {{__ 'button.reset'}}
        </button>
        <button type="button" class="btn btn-danger btn-delete">
          <i class="fa fa-times"></i> {{__ 'button.remove'}}
        </button>
      </div>
      {{/autoForm}}
    </div>
  </div>
</template>