<template name="userRole">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{getName user._id}}</h3>
    </div>
    <div class="panel-body">
      {{#each roles}}
      <div class="col-sm-12 col-lg-4">
        <div class="form-group">
          <div class="checkbox">
              <div class="row">
                <div class="col-sm-4 text-right">
                  <label>
                    <input type="checkbox" id="{{name}}" class="role-checkbox" checked="{{isChecked}}" value="{{name}}" />
                  </label>
                </div>
                <div class="col-sm-8">
                  {{roleName name}}
                </div>
              </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="panel-footer">
      <button type="button" class="btn btn-primary btnSaveRoles">
      <i class="fa fa-save"></i> {{__ 'button.update'}}
      </button>
    </div>
  </div>
</template>