<template name="userList">
  <!-- Tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#users" role="tab" data-toggle="tab">{{__ 'button.user'}}</a></li>
    <li><a href="#teams" role="tab" data-toggle="tab">{{__ 'button.team'}}</a></li>
  </ul>
  <!-- Tab Panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="users">
      <div class="list-group">
        {{#if isInRole 'user-create-allow'}}
        {{#if isInRole 'user-create-deny'}}
        {{else}}
        <div class="list-group-item {{isActiveRoute 'user-create'}}">
          <i class="fa fa-plus"></i> <a href="{{pathFor 'user-create'}}">{{__ 'button.create'}} {{__ 'button.user'}}</a>
        </div>
        {{/if}}
        {{/if}}
        {{#each users}}
        <div class="list-group-item {{isActive _id}}">
          <div class="row">
            <div class="col-sm-10">
              <i class="fa fa-user"></i> <a href="{{pathFor 'user-update' _id=_id}}">{{getName _id}}</a>
            </div>
            <div class="col-sm-2">
              {{#if isInRole 'user-role-allow'}}
              {{#if isInRole 'user-role-deny'}}
              {{else}}
              <a href="{{pathFor 'user-role'}}" title="{{__ 'user.roles'}}"><i class="fa fa-lock"></i></a>
              {{/if}}
              {{/if}}
            </div>
          </div>
          <small>
            <i class="fa fa-envelope"></i> {{getEmail _id}}
          </small>
        </div>
        {{/each}}
      </div>
    </div>
    <div class="tab-pane" id="teams">
      <div class="list-group">
        {{#if isInRole 'team-create-allow'}}
        {{#if isInRole 'team-create-deny'}}
        {{else}}
        <div class="list-group-item {{isActiveRoute 'team-create'}}">
          <i class="fa fa-plus"></i> <a href="{{pathFor 'team-create'}}">{{__ 'button.create'}} {{__ 'button.team'}}</a>
        </div>
        {{/if}}
        {{/if}}
        {{#each teams}}
        <div class="list-group-item {{isActive _id}}">
          <a href="{{pathFor 'team-update' _id=_id}}">{{title}}</a><br />
          <small>
            <i class="fa fa-group"></i> {{__ 'team.roles'}}: {{getCount roles}}<br />
            <i class="fa fa-user"></i> {{__ 'team.users'}}: {{getCount users}}<br />
          </small>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</template>